# === Django ===
DJANGO_SECRET_KEY=change-me-super-secret-key-lol-roster-2026
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,api,backend,0.0.0.0
DJANGO_SETTINGS_MODULE=config.settings

# === Database ===
POSTGRES_DB=lolroster
POSTGRES_USER=lolroster
POSTGRES_PASSWORD=lolroster
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgres://lolroster:lolroster@db:5432/lolroster

# === Redis / Celery ===
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

# === API ===
API_URL=http://api:8000
NEXT_PUBLIC_API_URL=http://localhost/api/v1
NEXT_PUBLIC_APP_URL=http://localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost

# === Auth OAuth (wypełnij) ===
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
DISCORD_OAUTH_CLIENT_ID=
DISCORD_OAUTH_CLIENT_SECRET=

# === Scoring (nadpisywalne) ===
SCORING_COMMON=10
SCORING_RARE=25
SCORING_EPIC=60
SCORING_LEGENDARY=120
SCORING_DIAMOND_BONUS=50

# === Daily ===
DAILY_TIMEZONE=Europe/Warsaw
DAILY_PUBLISH_HOUR=0
DAILY_REVEAL_MODE=after_close

# === Frontend ===
NEXTAUTH_SECRET=change-me-nextauth
NEXTAUTH_URL=http://localhost:3000

# === Sentry ===
SENTRY_DSN=
